# Send auth credentials with every npm request - authenticate with the
# `npm login` command in your terminal
always-auth=true


# Note: Trailing slash is required as the auth process expects this exact url
registry=https://artifactory.it.jetblue.com/artifactory/api/npm/nodejs-virtual/
